@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9l5ai0');
    src:  url('../fonts/icomoon.eot?9l5ai0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9l5ai0') format('truetype'),
    url('../fonts/icomoon.woff?9l5ai0') format('woff'),
    url('../fonts/icomoon.svg?9l5ai0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}




*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'icomoon',sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}