@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?y9ztcv');
    src:  url('../fonts/icomoon.eot?y9ztcv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y9ztcv') format('truetype'),
    url('../fonts/icomoon.woff?y9ztcv') format('woff'),
    url('../fonts/icomoon.svg?y9ztcv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*标签内外边距清零*/
*{
    margin: 0;
    padding: 0;
    /*css3盒子模型边距边框不撑开*/
    box-sizing: border-box;
}
/*em和i斜体字不倾斜*/
em,i{
    font-style: normal;
}
/*去掉li圆点*/
li{
    list-style: none;
}
/*图片底部无空白*/
img{
    vertical-align: middle;
}
/*改变连接的默认修饰*/
a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}
/* 默认有灰色边框我们需要手动去掉 */
button,input{
    border: 0;
    outline: none;
}
/*取消h3*/
h3{

}